
.container{
	width: 1170px;
	margin: 0 auto;
}
.vertical-item{
	display: inline-block;
	vertical-align: middle;
}
.clear{
	clear: both;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}

/*header*/
.logo{
	width: 190px;
	float: left;
	padding-top: 24px;	
}
.navigation{
	text-transform: uppercase;
	margin-left: 140px;
	padding-top: 41px;
	font-family: "roboto"
}
.navigation li{
	padding: 0 15px;
}
.navigation li a{

	color: #3D58A6;
}
.navigation li a:hover{
	color: black;
}
.icon li a img{
	height: 30px;
}
.icon li {
	border-right: 2px solid #3D58A6;
	padding: 0 15px;
}
.icon li:last-child{
	border: 0;
	padding-right: 0;
	margin-right: 0;
}
.icon{
   float: right;
   padding-top: 31px;
}


/*header*/

/*banner*/
.banner-hall{
	background-color:#E6E6E6;
}
.banner{
	padding-top: 70px;
	padding-bottom: 30px;
}
/*banner*/

/*video*/
.video-hall{
	background-color: #363E97;
	padding-bottom: 90px;
}
.videos{
	font-family: "roboto";
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 30px 0;
	font-size: 24px;
}
.videos a{
	font-family: "roboto";
	text-transform: lowercase;
	color: #FFFFFF;
}
.videos a:hover{
	color: red;
}
.video{
	width: 570px;
	height: 320px;
	background-color: #fff;
	text-align: center;
    line-height: 320px;

}
/*video*/

/*news*/
.news1{
	background-color: #BDCCD4;
	padding-bottom: 90px;
}
.news2{
	color: #3D58A6;
	text-transform: uppercase;
	font-family: "roboto";
	font-size:24px;
	padding: 40px 0 30px 0;
}
.news2 a{
	text-transform: lowercase;
	font-family: "roboto";
	font-size:24px;
	color: #3D58A6;
}
.news2 a:hover{
	color: red;
}
.image{
	width: 270px;
	height: 270px;
	float: left;
	

}
.image2{
	width: 270px;
	height: 210px;
}
.paragrap2{
	width: 270px;
	height: 60px;
	background-color: #E6E6E6;

}
.paragrap{
	font-size: 22px;
	font-family: "roboto";
	color: black;
	line-height: 60px;
	text-align: left;
	padding-left: 12px;
}

.imageinline{
	display: inline-block;
	margin-right: 26px;
	
}

.imageinline:last-child{
	margin-right: 0;
	
}




/*news*/