
.container{
	width: 1170px;
	margin: 0 auto;
}
.vertical-item{
	display: inline-block;
	vertical-align: middle;
}
.clear{
	clear: both;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}

/*header*/
.logo{
	width: 190px;
	float: left;
	padding-top: 24px;	
}
.navigation{
	text-transform: uppercase;
	margin-left: 140px;
	padding-top: 41px;
	font-family: "roboto"
}
.navigation li{
	padding: 0 15px;
}
.navigation li a{

	color: #3D58A6;
}
.navigation li a:hover{
	color: black;
}
.icon li a img{
	height: 30px;
}
.icon li {
	border-right: 2px solid #3D58A6;
	padding: 0 15px;
}
.icon li:last-child{
	border: 0;
	padding-right: 0;
	margin-right: 0;
}
.icon{
   float: right;
   padding-top: 31px;
}
.header{
	position: fixed;
    top: 0px;
    
    width: 100%;

}


/*header*/

/*banner*/
.banner-hall{
	background-color:#E6E6E6;
	margin-top: 90px;
}
.banner{
	padding-top: 70px;
	padding-bottom: 30px;
	position: relative;
}
.logosvg{
	width: 70px;
    position: absolute;
    bottom: 64px;
    right: 50px;
}
/*banner*/

/*video*/
.video-hall{
	background-color: #363E97;
	padding-bottom: 90px;
}
.videos{
	font-family: "roboto";
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 30px 0;
	font-size: 24px;
}
.videos a{
	font-family: "roboto";
	text-transform: lowercase;
	color: #FFFFFF;
}
.videos a:hover{
	color: red;
}
.video{
	width: 570px;
	height: 320px;
	background-color: #fff;
	text-align: center;
    line-height: 320px;

}
/*video*/

/*news*/
.newspage{
	margin-top: 90px;
}
.news1{
	background-color: #BDCCD4;
	padding-bottom: 90px;
}
.news2{
	color: #3D58A6;
	text-transform: uppercase;
	font-family: "roboto";
	font-size:24px;
	padding: 40px 0 30px 0;
}
.news2 a{
	text-transform: lowercase;
	font-family: "roboto";
	font-size:24px;
	color: #3D58A6;
}
.news2 a:hover{
	color: red;
}
.image{
	width: 270px;
	height: 270px;
	float: left;
	

}
.image2{
	width: 270px;
	height: 210px;
}
.paragrap2{
	width: 270px;
	height: 60px;
	background-color: #E6E6E6;

}
.paragrap{
	font-size: 22px;
	font-family: "roboto";
	color: black;
	line-height: 60px;
	text-align: left;
	padding-left: 12px;
}

.imageinline{
	display: inline-block;
	margin-right: 26px;
	position: relative;
	overflow: hidden;
	
}

.imageinline:last-child{
	margin-right: 0;
	
	
}
.imageinline p{
	position: absolute;
    bottom: 0px;
    left: 0px;
    height: 60px;
    transition: height 0.3s;

}
.imageinline p:hover{
	height: 232px;
    background-color: lemonchiffon;
    width: 96%;
    opacity: 0.6;
}
.read-more{
	position: absolute;
	bottom: -30px;
	
}
.imageinline:hover .read-more{
	bottom: 10px;
	right: 10px;
	transition: 0.3s
}
/*news*/

.feature{
	background-color: #E6E6E6;
}

.feature1{
	text-transform: uppercase;
	font-family: "roboto";
	font-size:24px;
	color: black;
	padding-top: 30px;
	padding-bottom: 30px;
}
.feature1 a{
	text-transform: lowercase;
	color: black;
}
.feature1 a:hover{
	color: red;
}
.feature2{
	width: 570px;
	height: 225px;
	padding-bottom: 40px;
	display: inline-block;

}
.h2{
	text-transform: uppercase;
	color: #3D58A6;
	font-family: "roboto";
	font-size: 22px;
	padding-top: 13px;
	padding-left: 47px;
	padding-bottom: 13px;
}
.img1{
	width: 100px;
	height: 130px;
	padding-left: 37px;

}
.feature3{
	display: inline-block;
	width: 350px;
	height: 108px;
	font-family: "roboto";
	font-size: 20px;
	line-height: 27px;
	padding-left: 57px;
}

.footer{
	padding-top: 25px;
	padding-bottom:25px;
}
.footer1{
	display: inline-block;
}
.footer2{
	float: right;
	text-align: center;
}

.newspage{
	background-color: #BDCCD4;
	padding-top:30px ;
	padding-bottom: 35px;
}
.newspage1{
	text-transform: uppercase;
	font-family: "roboto";
	font-size: 22px;
	color: #3D58A6;
	display: inline-block;
}


.isari{
	
	width: 23px;
	height: 13px;
}
.newspage2{
	display: inline-block;
	font-family: "roboto";
	font-size: 22px;
	color: #fff;
	text-transform: lowercase;
	float: right;
}
.march{
	width: 60px;
	height: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.lab{
	font-family: "roboto";
	font-size: 22px;
	color: #363E97;
	padding-bottom: 26px;
	text-transform: uppercase;
}
.picture{
	padding-right: 30px;
	padding-bottom: 70px;
	display: inline-block;

}
.statia{
	width: 765px;
    height: 148px;
    display: inline-block;
    vertical-align: top;
    font-size: 21px;
    line-height: 21px;
    font-family: "roboto";
    color: #58595B;
	
	
}
.picture img{
	width: 370px;
	height: 287px;
}
.statia2{
	width: 765px;
    height: 148px;
    display: inline-block;
    font-size: 21px;
    line-height: 21px;
    padding-top: 35px;
    font-family: "roboto";
    color: #58595B;
}
.statia3{
	width: 1170px;
    font-family: "roboto";
    font-size: 20px;
    padding-top: 35px;
    color: #58595B;
}

.share{
	background-color: #BDCCD4;
	margin-top: 27px;
	padding-top: 35px;
	padding-bottom: 35px;
}
.back{
	color: #fff;
	font-size: 22px;
    display: inline-block;
}
.share1{
	width: 200px;
	height: 20px;
	display: inline-block;
	float: right;
}
.share2{
	display: inline-block;
}

.map{
	background-color: #E6E6E6;
	padding-top: 30px;
	padding-bottom: 30px;
}
.map img{
	width: 1170px;
	height: 460px;
}
 .contact1{
 	background-color: red;
 	margin-top: 90px;
 }
.contact2{
	font-family: "roboto";
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    padding-top:30px; 
    padding-bottom:30px;
}

.mail1{
	width: 1170px;
	height: 622px;
	margin-bottom: 0;

}
.share .container div{
	margin-top: 0;
}
.tiri{
	float: left;
	
}


.tiri img{
	width: 300px;
	height: 300px;
	padding-top: 110px;
	margin-right: 80px;
}

.mission{
	font-family: "roboto";
	text-transform: uppercase;
	font-size: 22px;
	color: red;
	padding-top: 14px;
}
.mission1{
	font-family: "roboto";
	font-size: 20px;
	color: #58595B;
	padding-top: 12px;
}

.vision .container{
	margin-left: 90px;
}
.vision4{
	    width: 400px;
	    float: left;
	    padding-top: 60px;
	    margin-right: 80px;

    
}


.vision2{
	padding-top: 110px;
	
}
.vision2 img{
	width: 300px;
}
 .vs1{
    font-family: "roboto";
	text-transform: uppercase;
	font-size: 22px;
	color: red;
	padding-top: 14px;
 }
 .vs2{
 	font-family: "roboto";
	font-size: 20px;
	color: #58595B;
	padding-top: 12px;

 }

 hr{
 	margin-top: 35px;
 	margin-bottom: 20px;
 }
 .team{
 	padding-bottom: 130px;
 }
 .team1{
 	color: #EE4036;
 	font-family: "roboto";
 	font-size: 22px;
 	text-transform: uppercase;
 	padding-bottom: 45px;
 }
 .kacuranisi img{
 	width: 180px;
 	height: 180px;
 	float: left;
 	margin-right: 130px;
 }
 .kacuranisi1 img{
 	width: 180px;
 	height: 180px;
 	float: left;
 	margin-right: 130px;
 }
 .kacuranisi2 img{
 	width: 180px;
 	height: 180px;
 	float: left;
 	margin-right: 130px;
 }
 .kacuranisi3 img{
 	width: 180px;
 	height: 180px;
 }